* {
    margin: 0;
}

h1 {
    position: absolute;
    margin-left: 550px;
}

h4 {
    position: absolute;
    margin-left: 515px;
    margin-top: 50px;
}

.fundo {
    width: 1000px;
    height: 500px;
    background-color: rgba(217, 217, 217, 1);
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    border: 2px solid black;
    outline: 5px solid black;
    outline-offset: 5px;
    
}

.barra1 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 150px;
    background-color: white;
}

.barra2 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 200px;
    background-color: white;
}

.barra3 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 250px;
    background-color: white;
}

.barra4 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 300px;
    background-color: white;
}

.barra5 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 350px;
    background-color: white;
}

.barra6 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 400px;
    background-color: white;
}

.barra7 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 450px;
    background-color: white;
}

.barra8 {
    width: 800px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-left: 200px;
    margin-top: 500px;
    background-color: white;
}

#valor1 {
    color: black;
    position: absolute;
    margin-top: 495px;
    margin-left: 180px;
}

#valor2 {
    color: black;
    position: absolute;
    margin-top: 445px;
    margin-left: 173px;
}

#valor3 {
    color: black;
    position: absolute;
    margin-top: 395px;
    margin-left: 173px;
}

#valor4 {
    color: black;
    position: absolute;
    margin-top: 345px;
    margin-left: 173px;
}

#valor5 {
    color: black;
    position: absolute;
    margin-top: 295px;
    margin-left: 173px;
}

#valor6 {
    color: black;
    position: absolute;
    margin-top: 245px;
    margin-left: 173px;
}

#valor7 {
    color: black;
    position: absolute;
    margin-top: 195px;
    margin-left: 173px;
}

.coluna1 {
    width: 40px;
    height: 52px;
    position: absolute;
    margin-top: 500px;
    margin-left: 240px;
    background-color: red;
}

.coluna2 {
    width: 40px;
    height: 102px;
    position: absolute;
    margin-top: 450px;
    margin-left: 320px;
    background-color: red;
}

.coluna3 {
    width: 40px;
    height: 152px;
    position: absolute;
    margin-top: 400px;
    margin-left: 400px;
    background-color: red;
}

.coluna4 {
    width: 40px;
    height: 202px;
    position: absolute;
    margin-top: 350px;
    margin-left: 480px;
    background-color: red;
}

.coluna5 {
    width: 40px;
    height: 252px;
    position: absolute;
    margin-top: 300px;
    margin-left: 560px;
    background-color: red;
}

.coluna6 {
    width: 40px;
    height: 202px;
    position: absolute;
    margin-top: 350px;
    margin-left: 640px;
    background-color: red;
}

.coluna7 {
    width: 40px;
    height: 152px;
    position: absolute;
    margin-top: 400px;
    margin-left: 720px;
    background-color: red;
}

.coluna8 {
    width: 40px;
    height: 102px;
    position: absolute;
    margin-top: 450px;
    margin-left: 800px;
    background-color: red;
}

.coluna9 {
    width: 40px;
    height: 52px;
    position: absolute;
    margin-top: 500px;
    margin-left: 880px;
    background-color: red;
}

#valor8 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 249px;
}

#valor9 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 329px;
}

#valor10 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 408px;
}

#valor11 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 488px;
}

#valor12 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 568px;
}

#valor13 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 650px;
}

#valor14 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 730px;
}

#valor15 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 808px;
}

#valor16 {
    color: black;
    position: absolute;
    margin-top: 555px;
    margin-left: 890px;
}

/* Botão para voltar */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    top: 0%;
    left: 0%;
  }
  
  button:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  button svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all 0.5s ease;
    transition-delay: 300ms;
  }
  
  button:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
  

