body {
    margin: 0;
    background-color: rgb(246, 255, 241);

}
h1{
    
    color: rgb(255, 255, 255);
    background-color: rgb(3, 51, 53);
    width: auto; 
    height: 40px;
    font-family: "Arial";
    font-size: 20px;
    padding-top: 20px;
    margin: 0 auto;
    padding-left: 100px;

}

#manchete{
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.2em;

}
#noticias{
    height: 500px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.2em;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    
}
#noticias1{
    height: 200px;
    width: 30%;
    margin-left: 50px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.2em;
}
#noticias2{
    height: 200px;
    width: 30%;
    
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.2em;
}
#noticias3{
    height: 200px;
    width: 30%;
    margin-right: 50px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.2em;
}
#rodape{
    height: 180px;
    width: auto;
    background-color: rgb(3, 51, 53);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

/* Botão para voltar */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: absolute;
    overflow: hidden;
    transition: all 0.5s ease;
    top: 0%;
    left: 0%;
  }
  
  button:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  button svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all 0.5s ease;
    transition-delay: 300ms;
  }
  
  button:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
  